<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery store</title>
</head>
<body>
    <h1>This is a home page</h1>
    <!-- <form action="">
        <input type="text" name="" id="" placeholder="username"><br>
        <input type="password" placeholder="password"><br>
        <button type="submit">submit</button>
    </form> -->
    <table border="1px">
        <tr>
            <th>id</th>
            <th>about</th>
        </tr>
       {% for abc in items%}
        <tr>
            <td>{{abc.id}}</td>
            <td>{{abc.task}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>